.articles{
    .ui-status {    
        &.error {
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            display: none;
        }
    }

    &.error .ui-status.error { display: block; }

    .article{
        box-sizing: border-box;
        background: $light-blue;
        float: left;
        padding: 15px;
        margin: 10px 5px;
        height: 410px;
        max-height: 410px;
        overflow: hidden;

        hr{
          margin-top: 10px;  
        }
    
        @include if-tablet-portrait {            
            width: calc(100% / 3 - 10px);
            max-width: $tablet-landscape-width;
        }

        .image-article{
            width: 100%;
            max-height: 170px;
        }
        .title-article{
            font-weight: bold;
            margin-top: 10px;
            font-size: $font-size-large;
        }
        .text-article{
            margin-top: 15px;
        }
        .datos-comentarios{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            .datos-usuario{
                padding: 5px;
                max-width: 50px;
                max-height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .nombre-usuario{
                    padding: 5px;
                    display: block;
                    text-align: center;
                }
            }
            .datos-comp{
                background-attachment: fixed;
                display: block;
                text-align: right;
            }            
        }
       
    }
    .nav-below{
        height: 20px;
        padding:25px;
        clear: both;
        width:100%;
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        a{     
            font-size: $font-size-large;       
            color: #fff; 
            text-decoration: none;
            align-content: center;
        }
    } 
}
