.articulo {
    display: block;
    font-size: $font-size-large;
    padding: 25px 0px;
    .titulo{
        font-size: 42px;
        text-align: center;
    }
    .image-article{
        width: 100%;
        max-height: 720px;
        padding: 15px;
    }
    
    p{
        padding: 10px;
        text-align: justify;
    }
    
    b{
        font-weight: bold; 
    }
    
    i{
        font-style: italic;        
    }

    a{
        text-decoration: underline;
    }

    h1 {
        font-weight:normal;
        margin-bottom: 0.5em;
    }

    hr {
        margin-bottom: 1em;
        height:2px;
        background: #4357ad;
        border:none;
    }
    .datos-comentarios{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        .datos-usuario{
            padding: 5px;
            max-width: 150px;
            max-height: 150px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .nombre-usuario{
                padding: 5px;
                display: block;
                text-align: center;
            }
        }
        .datos-comp{
            background-attachment: fixed;
            display: block;
            text-align: right;
        }            
    }
}

