footer {
    position: relative;
    height: 50px;
    padding:5px 0px;
    clear: both;
    background: #4357ad;
    color: #fff;
    bottom: 0;
    
    
    .foot{
        width:90%;
        max-width: 1000px;
        margin:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
                   
    }

    h1{
        font-size: 25px;
    }
    a{
        color: #fff; 
        text-decoration: none;
    }
    i{
        margin: 5px;
        color: #fff;
        align-content: center;
    }
}
