.web-header {
    background: $light-blue;
    padding: 15px;
    color: $sailor;
    text-align: center;
    .web-title{
        font-weight: bold;
        text-transform: uppercase;
        font-size: $font-size-large;
    }
}