.navbar {
    background-color: $light-blue;
    width: 33%;
    position: fixed;
    top: 0;
    z-index: 1;
    .navbar-list {
        list-style-type: none;
        margin: 0;
        float: right;
        .navbar-item {
            font-family: $title-font-family;
            display: inline-block;
            font-size: $font-size-medium;
            a{
                padding: 5px;
                text-decoration: none;
                color: rgba(100, 49, 49, 0.90);
                display: inline-block;
                transition: all 0.5s linear;
            }
        }
    }
}