<section class="articles">
    <div class="ui-status error">
        Se ha producido un error al cargar la canción
    </div>
    <div class="ui-status ideal">
        <a href="detail.html">
            <article class="article">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                <div>
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                    <hr>

                    <div class="datos-comentarios">
                        <div class="datos-usuario">
                            <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                            <p class="nombre-usuario">Luis Barriga</p>
                        </div>
                        <div class="datos-comp">
                            <p class="fecha">23/12/2017 15:05:34</p>
                            <p class="commentarios">Hay 134 comentarios</p>
                            <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>



            </article>
        </a>
        <article class="article">
            <img src="./img/article2-670px.jpg" alt="Titulo" class="image-article">
            <div>
                <div class="title-article">REST APIs are REST-in-Peace APIs. Long Live GraphQL.</div>
                <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                    to solve, I could not resist tweeting the exact title of this article.
                </div>
        </article>

        <article class="article">
            <img src="./img/article3-670px.jpg" alt="Titulo" class="image-article">
            <div>
                <div class="title-article">REST APIs are REST-in-Peace APIs. Long Live GraphQL.</div>
                <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                    to solve, I could not resist tweeting the exact title of this article.
                </div>
        </article>

        <article class="article">
            <img src="./img/article4-670px.jpg" alt="Titulo" class="image-article">
            <div>
                <div class="title-article">REST APIs are REST-in-Peace APIs. Long Live GraphQL.</div>
                <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                    to solve, I could not resist tweeting the exact title of this article.
                </div>
        </article>
        <article class="article">
            <img src="./img/article5-670px.jpg" alt="Titulo" class="image-article">
            <div>
                <div class="title-article">REST APIs are REST-in-Peace APIs. Long Live GraphQL.</div>
                <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                    to solve, I could not resist tweeting the exact title of this article.
                </div>
        </article>

        <article class="article">
            <img src="./img/article6-670px.jpg" alt="Titulo" class="image-article">
            <div>
                <div class="title-article">REST APIs are REST-in-Peace APIs. Long Live GraphQL.</div>
                <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                    to solve, I could not resist tweeting the exact title of this article.
                </div>
        </article>

        <article class="article">
            <img src="./img/article7-670px.jpg" alt="Titulo" class="image-article">
            <div>
                <div class="title-article">REST APIs are REST-in-Peace APIs. Long Live GraphQL.</div>
                <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                    to solve, I could not resist tweeting the exact title of this article.
                </div>
        </article>

        <article class="article">
            <img src="./img/article8-670px.jpg" alt="Titulo" class="image-article">
            <div>
                <div class="title-article">REST APIs are REST-in-Peace APIs. Long Live GraphQL.</div>
                <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                    to solve, I could not resist tweeting the exact title of this article.
                </div>
        </article>
        <article class="article">
            <img src="./img/article9-670px.jpg" alt="Titulo" class="image-article">
            <div>
                <div class="title-article">REST APIs are REST-in-Peace APIs. Long Live GraphQL.</div>
                <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                    to solve, I could not resist tweeting the exact title of this article.
                </div>
        </article>

        <article class="article">
            <img src="./img/article10-670px.jpg" alt="Titulo" class="image-article">
            <div>
                <div class="title-article">REST APIs are REST-in-Peace APIs. Long Live GraphQL.</div>
                <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                    to solve, I could not resist tweeting the exact title of this article.
                </div>
        </article>
        </div>
</section>