<section class="articles">
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquam tempore autem aut reprehenderit ex nemo expedita nobis omnis maiores, et repellat maxime, repellendus labore laboriosam dicta ea culpa sequi.</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Titulo del artículo</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Titulo del artículo</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Titulo del artículo</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Titulo del artículo</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Titulo del artículo</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Titulo del artículo</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Titulo del artículo</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Titulo del artículo</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>
    <article class="article">
        <img 
        src="https://pbs.twimg.com/profile_images/867070777878859777/MtfeEkqy_400x400.jpg" 
        alt="Titulo" class="image-article">
        <div class="title-article">Titulo del artículo</div>
        <div class="text-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint laudantium libero fugiat voluptas mollitia id cupiditate possimus tenetur accusamus, voluptates nesciunt quae nisi eveniet, aliquam aliquid, perferendis at labore?</div>
    </article>

</section>