<article class="articulo">
        <h1 class="titulo">Por qué Fringe es una de mis series favoritas</h1>
        <hr>        
        <img src="./img/fringe-article-750px.jpg" srcset="./img/fringe-article-750px.jpg 750w , ./img/fringe-article-1334px.jpg 1334w, ./img/fringe-article-1536px.jpg 1536w, ./img/fringe-article-1920px.jpg 1920w " alt="Fringe" class="image-article">
        <p>No sé si a vosotros os pasa lo mismo pero es curioso cómo me afectan las series que más me gustan. 
            Por muchas ganas que tuviese de ver un nuevo episodio de <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a>, cualquier rato no era válido. 
            Necesitaba el momento perfecto para sentarme a disfrutarla como no hago con otras series. 
            De la misma forma, he sido capaz de hablar de varios finales y temporadas de otras series y, sin embargo, 
            me ha costado horrores sentarme a escribir sobre mi, probablemente, serie favorita actual.</p>
        
        <p>Como ya os comenté, hace unos días participé en un debate de La Caja de Spoilers sobre la serie y eso me ayudó a 
            verbalizar mis pensamientos y sentimientos, así que ya es hora de explicaros lo que necesitáis saber para convenceros de lo buena que es <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a>. 
            Y lo voy a hacer sin spoilers ya que el debate está repleto de ellos.</p>

        <p> <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> es una serie autoconclusiva y siempre lo ha sido ni ha querido engañar a nadie a este respecto. 
            Empezó en terreno farragoso con unos cuantos episodios seriados con el foco donde no correspondía pero, 
            en seguida, la serie eligió el buen camino. Cada caso de <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> es interesante, llamativo, original y, además, tiene relación con <b>El Patrón</b>.
        </p>
           
        <p>
            A pesar de su autoconclusividad, la trama horizontal está constantemente presente en la serie y siempre hay elementos relacionados con 
            <b>El Patrón</b>, <i>Massive Dinamic</i> y otros que no menciono por no spoilear.
        </p>
       
        <p> A pesar de su autoconclusividad, la trama horizontal está constantemente presente en la serie y siempre hay elementos relacionados con <b>El Patrón</b>,
             <i>Massive Dinamic</i> y otros que no menciono por no spoilear.
            
        </p>

        <p> A la vez que la trama principal avanzaba e íbamos conociendo más detalles sobre <b>El Patrón</b> y sus orígenes, los casos se han ido haciendo más retorcidos y
             peculiares, reforzando así la conexión de todas las tramas en sus episodios. Los primeros casos eran más inocentes, más aislados, mientras que
             la segunda temporada ha evolucionado de tal forma que la conexión entre la trama autoconclusiva y la principal estaban directamente relacionadas 
             como en “White tulip”.
        </p>

        <p>Para mí, <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> es la mejor candidata actualmente a cubrir ese hueco que <a href="https://es.wikipedia.org/wiki/Lost">Lost</a> ha dejado y que tanta gente está intentando reemplazar (entre los que no me 
            cuento, por cierto. <a href="https://es.wikipedia.org/wiki/Lost">Lost</a> es <a href="https://es.wikipedia.org/wiki/Lost">Lost</a> y es irremplazable). <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> juega con grandes misterios, con muchas incógnitas. Tenemos temas de tiempo, conflictos
             paterno-filiales, compañías misteriosas, personajes con dos caras y muchos secretos.
        </p>

        <p>Pero como decía en el debate, <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> cuenta con una ventaja y es que sus misterios y preguntas se crean principalmente desde los personajes. 
            El misterio no es ajeno a ellos y han de descifrarlo junto al espectador, sino que las preguntas, las dudas, las sorpresas y la mayoría de 
            misterios de la serie parten de ellos mismos. Evidentemente hay explicaciones ajenas a ellos pero todo está focalizado en ese trío protagonista 
            que son Walter, Peter y Olivia.
        </p>

        <p>Y hablando de los personajes, no puedo seguir sin hablar del elenco tan inteligentemente construido que tiene la serie. Alrededor Walter 
            (impresionante John Noble en el papel), ese personaje cómico y entrañable que a la vez inspira tanta tristeza, se construyen todas las
             incógnitas de la serie. Sus conocimientos, de lo que es capaz la ciencia finge y todo lo que la rodea es un misterio hasta para él. 
             En su entorno encontramos a Peter, con quien forma el dúo cómico y esa historia paternofilial donde el pasado y la identidad son tan importantes. 
             Por otra parte tenemos a Olivia, un atípico personaje femenino que se deja llevar muy poco por sus emociones hasta el punto de resultar fría. 
             La primera temporada se centró en ella y en descubrir quién era y cuál era su papel en la historia de <b>El Patrón</b>. La segunda temporada ha sido para Peter, 
             su procedencia y su identidad. Ambas historias con Walter siempre como epicentro de todo descubrimiento.
        </p>

        <p>La intención de esta entrada era presentar los motivos que, para mí, hacen de <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> una gran serie. Una serie interesante, intensa, con
             unos personajes empáticos, con raciones de humor y de terror, con raciones de tensión y sorpresa. Una serie que es capaz de sorprender y
              que ha crecido con cada capítulo. 
        </p>

        <p>La primera temporada tardó en asentarse y decidir lo que quería ser pero pronto empezó a crecer. Después del parón navideño, 
            allá por el magnífico episodio 15, todos los elementos que la hacen grande explotaron y el crecimiento fue exponencial hasta 
            despedirnos con un finale de aúpa. La segunda temporada no sólo ha conseguido mantener ese nivel al que despidió la primera, 
            sino que poco a poco lo ha ido mejorando, regalándonos una temporada que, para mí, ha sido casi perfecta.
        </p>

        <p>Acabo volviéndome a quitar la espinita de defender a <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> con respecto a su formato. Hay espectadores que la critican por 
            motivos que, generalmente, considero que son erróneos. La serie nunca ha engañado a nadie. De base siempre ha sido un procedimental y 
            si no te gustan, es probable que <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> te aburra. Ya he contado que, para mí (que tampoco soy muy amiga de los procedimentales) tiene 
            tantos y variados elementos que la hacen inclasificable y la complementan que puede gustar a todo tipo de espectadores. Sin embargo, 
            comprendo que existan seguidores que no disfrutan de los “<a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> de la semana” pero la serie no merece ser criticada por ello. Es como 
            criticar 24 porque se cuenta en tiempo real. Se puede decir que los personajes de <a href="https://es.wikipedia.org/wiki/Fringe">Fringe</a> pueden resultar fríos, algunos casos (como aquel 
            del virus informático) pueden estar cogidos por los pelos incluso para una serie como esta o que los misterios no tienen el suficiente interés 
            para uno… Su formato puede gustarte o no, pero eso no la hace mejor o peor.
        </p>

        <p>Dejando ya de alimentar el “párrafo-rabieta”, con esta entrada pretendía remarcar aquellas cosas que, para mí, hacen especial a esta serie
             que me tiene pegada a la pantalla con cada nuevo episodio. Espero que aquellos que no la hayan visto le den una oportunidad y que aquellos 
             que están recelosos, la miren con otros ojos.
        </p>

        <p>Por mi parte nos vemos en una próximo post donde entraré ya en temas de contenido y de desarrollo de las historias con su correspondiente 
            contenido spoilero.
        </p>
        <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar12.jpg" class="image-article">
                    <p class="nombre-usuario">Javier Vacas</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">07/29/2017 06:34:17</p>
                    <a href="detail.html#comentarios">
                        <p class="comentarios">103 comentarios</p>
                    </a>
                    <i id="like12" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        <hr>
        </article>
        <div class='commentLoader'></div>