<section class="articles">
    <div class="ui-status error">
        Se ha producido un error al cargar la canción
    </div>
    <div class="ui-status ideal">
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>

        <article class="article">
            <a href="detail.html">
                    <img src="./img/article2-670px.jpg" alt="Titulo" class="image-article">
                    
                        <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                        <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                            to solve, I could not resist tweeting the exact title of this article.
                            After years of deali
                            
                        </div>
                    </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">08/28/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like2" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <article class="article">
            <a href="detail.html">
                <img src="./img/article1-670px.jpg" alt="Titulo" class="image-article">
                
                    <div class="title-article">El invierno y la gran guerra llegan a 'Juego de tronos'.</div>
                    <div class="text-article"> After years of dealing with REST APIs, when I first learned about GraphQL and the problems it’s attempting
                        to solve, I could not resist tweeting the exact title of this article.
                        After years of deali
                        
                    </div>
                </a>
            <hr>
            <div class="datos-comentarios">
                <div class="datos-usuario">
                    <img src="./img/avatar1.jpg" alt="Titulo" class="image-article">
                    <p class="nombre-usuario">Luis Barriga</p>
                </div>
                <div class="datos-comp">
                    <p class="fecha">09/01/2017 10:28:56</p>
                    <p class="comentarios">Hay 134 comentarios</p>
                    <i id="like1" class="like fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </article>
        <nav class="nav-below">
            <div class="nav-previous"><a href="#" rel="prev">←  Art. anteriores</a></div>
            <div class="nav-next"><a href="#" rel="next">Art. siguientes →</a></div>
        </nav>
    </div>
</section>