<section class="comments ideal">
    <div class=" ui-status empty">
        No hay ninguna comentario para cargar.
    </div>
    <div class="ui-status error">
        Se ha producido un error al cargar los comentarios
    </div>
    <div class="ui-status loading">
        Cargando comentarios...
    </div>
    <div class="ui-status ideal">
        <article class="comment">
            <div class="comment-name">
                <span>Luis Barriga</span>
                <span>•</span>
                <span>hace 9 años</span>
            </div>
            <div class="comment-body">
                <p> Investigadores de todo el mundo tratan de encontrar una respuesta a esa pregunta, sin lograr atraparla. Sí
                    se conocen las múltiples causas de una frustración que está en el origen de todo: de un lado, la falta
                    de oportunidades, los sentimientos de marginación, de desarraigo, la búsqueda de una identidad fabricada
                    e idealizada; de otro, el uso del odio como motor de la manipulación, el ofrecimiento de un fin último,
                    la falsa promesa de hacer historia, de convertirse en héroe. Cómo impedir ese salto se ha convertido
                    en parte inherente de la lucha antiyihadista en los últimos años. En numerosos países se han puesto en
                    marcha programas de desradicalización, aunque con resultados todavía más que mediocres. Posiblemente
                    el caso más.</p>
            </div>
            <a href="mailto:luis@zerone.es">luis@zerone.es</a>
        </article>
        <article class="comment">
            <div class="comment-name">
                <span>Luis Barriga</span>
                <span>•</span>
                <span>hace 9 años</span>
            </div>
            <div class="comment-body">
                <p> Investigadores de todo el mundo tratan de encontrar una respuesta a esa pregunta, sin lograr atraparla. Sí
                    se conocen las múltiples causas de una frustración que está en el origen de todo: de un lado, la falta
                    de oportunidades, los sentimientos de marginación, de desarraigo, la búsqueda de una identidad fabricada
                    e idealizada; de otro, el uso del odio como motor de la manipulación, el ofrecimiento de un fin último,
                    la falsa promesa de hacer historia, de convertirse en héroe. Cómo impedir ese salto se ha convertido
                    en parte inherente de la lucha antiyihadista en los últimos años. En numerosos países se han puesto en
                    marcha programas de desradicalización, aunque con resultados todavía más que mediocres. Posiblemente
                    el caso más.</p>
            </div>
            <a href="mailto:luis@zerone.es">luis@zerone.es</a>
        </article>
        <article class="comment">
            <div class="comment-name">
                <span>Luis Barriga</span>
                <span>•</span>
                <span>hace 9 años</span>
            </div>
            <div class="comment-body">
                <p> Investigadores de todo el mundo tratan de encontrar una respuesta a esa pregunta, sin lograr atraparla. Sí
                    se conocen las múltiples causas de una frustración que está en el origen de todo: de un lado, la falta
                    de oportunidades, los sentimientos de marginación, de desarraigo, la búsqueda de una identidad fabricada
                    e idealizada; de otro, el uso del odio como motor de la manipulación, el ofrecimiento de un fin último,
                    la falsa promesa de hacer historia, de convertirse en héroe. Cómo impedir ese salto se ha convertido
                    en parte inherente de la lucha antiyihadista en los últimos años. En numerosos países se han puesto en
                    marcha programas de desradicalización, aunque con resultados todavía más que mediocres. Posiblemente
                    el caso más.</p>
            </div>
            <a href="mailto:luis@zerone.es">luis@zerone.es</a>
        </article>
        <article class="comment">
            <div class="comment-name">
                <span>Luis Barriga</span>
                <span>•</span>
                <span>hace 9 años</span>
            </div>
            <div class="comment-body">
                <p> Investigadores de todo el mundo tratan de encontrar una respuesta a esa pregunta, sin lograr atraparla. Sí
                    se conocen las múltiples causas de una frustración que está en el origen de todo: de un lado, la falta
                    de oportunidades, los sentimientos de marginación, de desarraigo, la búsqueda de una identidad fabricada
                    e idealizada; de otro, el uso del odio como motor de la manipulación, el ofrecimiento de un fin último,
                    la falsa promesa de hacer historia, de convertirse en héroe. Cómo impedir ese salto se ha convertido
                    en parte inherente de la lucha antiyihadista en los últimos años. En numerosos países se han puesto en
                    marcha programas de desradicalización, aunque con resultados todavía más que mediocres. Posiblemente
                    el caso más.</p>
            </div>
            <a href="mailto:luis@zerone.es">luis@zerone.es</a>
        </article>
        <article class="comment">
            <div class="comment-name">
                <span>Luis Barriga</span>
                <span>•</span>
                <span>hace 9 años</span>
            </div>
            <div class="comment-body">
                <p> Investigadores de todo el mundo tratan de encontrar una respuesta a esa pregunta, sin lograr atraparla. Sí
                    se conocen las múltiples causas de una frustración que está en el origen de todo: de un lado, la falta
                    de oportunidades, los sentimientos de marginación, de desarraigo, la búsqueda de una identidad fabricada
                    e idealizada; de otro, el uso del odio como motor de la manipulación, el ofrecimiento de un fin último,
                    la falsa promesa de hacer historia, de convertirse en héroe. Cómo impedir ese salto se ha convertido
                    en parte inherente de la lucha antiyihadista en los últimos años. En numerosos países se han puesto en
                    marcha programas de desradicalización, aunque con resultados todavía más que mediocres. Posiblemente
                    el caso más.</p>
            </div>
            <a href="mailto:luis@zerone.es">luis@zerone.es</a>
        </article>
        <article class="comment">
            <div class="comment-name">
                <span>Luis Barriga</span>
                <span>•</span>
                <span>hace 9 años</span>
            </div>
            <div class="comment-body">
                <p> Investigadores de todo el mundo tratan de encontrar una respuesta a esa pregunta, sin lograr atraparla. Sí
                    se conocen las múltiples causas de una frustración que está en el origen de todo: de un lado, la falta
                    de oportunidades, los sentimientos de marginación, de desarraigo, la búsqueda de una identidad fabricada
                    e idealizada; de otro, el uso del odio como motor de la manipulación, el ofrecimiento de un fin último,
                    la falsa promesa de hacer historia, de convertirse en héroe. Cómo impedir ese salto se ha convertido
                    en parte inherente de la lucha antiyihadista en los últimos años. En numerosos países se han puesto en
                    marcha programas de desradicalización, aunque con resultados todavía más que mediocres. Posiblemente
                    el caso más.</p>
            </div>
            <a href="mailto:luis@zerone.es">luis@zerone.es</a>
        </article>
</section>