<header id="header">
    <nav class="menu">
        <div class="logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
            <a href="#" class="btn-menu" id="btn-menu"><i class="icono fa fa-bars" aria-hidden="true"></i></i></a>
        </div>   

        <div class="enlaces" id="enlaces">
            <a href="#"><input class="search" placeholder="Busqueda"><i class="fa fa-search" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a>
            <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Publicar</a>
            <a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
            <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Registro</a>
        </div>
    </nav>
    <hr>
    <ul class="categorias">
        <li><a href="#">Tecnología</a></li>
        <li><a href="#">Node</a></li>
        <li><a href="#">Series</a></li>
        <li><a href="#">Destacados</a></li>
    </ul>
</header>